body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404041;
  padding: 20px 0;
}

h1 {
  color: #ED458B;
  font-weight: 700;
  font-size: 2em;
}

span {
  color: #E6E7E8;
  font-weight: 300;
}

fieldset {
  margin: 20px auto 0;
  width: 85%;
}

#user-input {
  width: 97%;
  font-size: 1.3em;
  font-weight: 300;
  padding: 5px;
  border: 1.5px solid #D0D2d3;
}

input, select, textarea {
    color: #D0D2d3;
}

textarea:focus, input:focus {
    color: #000000;
}

#submit-btn {
  background-color: #929497;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
  height: 35px;
}

#submit-btn:hover {
  background-color: #EB008B;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
  height: 35px;
  cursor: pointer;
}

#submit-btn:disabled {
  background-color: #D0D2d3;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
  height: 35px;
  cursor: pointer;
}

.clear-btn {
  background-color: #929497;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
  height: 35px;
}

.clear-btn:hover {
  background-color: #EB008B;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
  height: 35px;
  cursor: pointer;
}

.clear-btn:disabled {
  background-color: #D0D2d3;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
  height: 35px;
  cursor: pointer;
}

p {
  font-size: 1em;
  margin: 25px 0;
}

.user-result {
  font-size: 7em;
  color: #EB008B;
}

.ranges {
  border: 1px solid #D0D2d3;
  padding: 10px;
  width: 80%;
  margin-top: 0px;
}

.ranges p {
  margin: 10px 0 0 0;
}


.min {
  width: 30%;
  font-size: .9em;
}

.max {
  width: 30%;
  font-size: .9em;
}

.reset-btn {
  background-color: #929497;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
  height: 35px;
}

.reset-btn:hover {
  background-color: #EB008B;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
  height: 35px;
  cursor: pointer;
}

.reset-btn:disabled {
  background-color: #D0D2d3;
  color: white;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 15px;
  height: 35px;
  cursor: pointer;
}
/*900 width settings*/
@media screen and (min-width: 900px) {
    .main {
      margin: 20px auto 0;
      width: 85%;
    }
    #user-input {
      width: 89%;
      font-size: 1.5em;
      font-weight: 300;
      padding: 5px;
      border: 1.5px solid #D0D2d3;
  }

    #submit-btn {
      background-color: #929497;
      color: white;
      border-style: none;
      border-radius: 20px;
      width: 45%;
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 15px;
      height: 35px;
    }

    #submit-btn:hover {
      background-color: #EB008B;
      color: white;
      border-style: none;
      border-radius: 20px;
      width: 45%;
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 15px;
      height: 35px;
      cursor: pointer;
    }

    #submit-btn:disabled {
      background-color: #D0D2d3;
      color: white;
      border-style: none;
      border-radius: 20px;
      width: 45%;
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 15px;
      height: 35px;
      cursor: pointer;
    }

    .clear-btn {
      background-color: #929497;
      color: white;
      border-style: none;
      border-radius: 20px;
      width: 45%;
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 15px;
      height: 35px;
    }

    .clear-btn:hover {
      background-color: #EB008B;
      color: white;
      border-style: none;
      border-radius: 20px;
      width: 45%;
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 15px;
      height: 35px;
      cursor: pointer;
    }

    .clear-btn:disabled {
      background-color: #D0D2d3;
      color: white;
      border-style: none;
      border-radius: 20px;
      width: 45%;
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 15px;
      height: 35px;
      cursor: pointer;
    }

    .ranges {
      border: 1px solid #D0D2d3;
      padding: 10px;
      width: 65%;
      margin-top: 0;
    }

    .reset-btn {
      background-color: #929497;
      color: white;
      border-style: none;
      border-radius: 20px;
      width: 80%;
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 15px;
      height: 35px;
    }

    .reset-btn:hover {
      background-color: #EB008B;
      color: white;
      border-style: none;
      border-radius: 20px;
      width: 80%;
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 15px;
      height: 35px;
      cursor: pointer;
    }

    .reset-btn:disabled {
      background-color: #D0D2d3;
      color: white;
      border-style: none;
      border-radius: 20px;
      width: 80%;
      font-size: 1.1em;
      font-weight: 300;
      margin-top: 15px;
      height: 35px;
      cursor: pointer;
    }
}
